<div class="menu">
    <div class="sitetitle"><h1 class="sitetitle-title">tinkHouse</h1></div>

    <div class="menu--list">
        <div class="menu--list-ico-box">
            <span class="menulist"><img src="{{ asset('bundles/site/images/ico/png_white/anchor@2x.png') }}" alt="Icone" class="ico"/></span>
            <span class="menulist menulist-selected"><img src="{{ asset('bundles/site/images/ico/png_white/radio@2x.png') }}" alt="Icone" class="ico"/></span>
            <span class="menulist"><img src="{{ asset('bundles/site/images/ico/png_white/g-clef.png') }}" alt="Icone" class="ico"/></span>
            <span class="menulist"><img src="{{ asset('bundles/site/images/ico/png_white/hammer-square@2x.png') }}" alt="Icone" class="ico"/></span>
            <span class="menulist"><img src="{{ asset('bundles/site/images/ico/png_white/users-group@2x.png') }}" alt="Icone" class="ico"/></span>
        </div>
        <div class="menu--list-ctt">
            <span class="menulist menulist-ctt"><a href="{{ path('site_homepage') }}" class="link link-menulist">Dashboard</a> <span class="menulist menulist-option">+</span></span>
            <span class="menulist menulist-ctt"><a href="#" class="link link-menulist-selected">Profile</a> </span>
            <span class="menulist menulist-ctt"><a href="#" class="link link-menulist">Mes chantiers</a><span class="menulist menulist-option">+</span></span>
            <span class="menulist menulist-ctt"><a href="{{ path('site_house') }}" class="link link-menulist">Ma maison</a> <span class="menulist menulist-option">+</span></span>
            <span class="menulist menulist-ctt"><a href="#" class="link link-menulist">Notifications</a></span>
        </div>
    </div>

</div>