<div class="box box-logobox">
    <div class="logobox logobox-logo1"></div>
    <div class="logobox logobox-logo2"></div>
    <div class="logobox logobox-logo3"></div>
    <div class="logobox logobox-logo4"></div>
    <div class="clear"></div>
</div>


<div class="box-propose-tinker">

    <h3 class="propose-title-tinker">Ca peut vous interesser: </h3>
    <div class="box-propose-tinker-ctt">
        <div class="box-propose-tinker-img">
            <img src="{{ asset('bundles/site/images/4.jpg') }}" alt="" class="img-tinker"/>
            <h3>Plantage de clous pour l'activité</h3>
        </div>
    </div>

    <div class="box-propose-tinker-ctt">
        <div class="box-propose-tinker-img">
            <img src="{{ asset('bundles/site/images/7.jpg') }}" alt="" class="img-tinker"/>
            <h3>Comment faire une douche à l'italienne</h3>
        </div>
    </div>

    <div class="box-propose-tinker-ctt">
        <div class="box-propose-tinker-img">
            <img src="{{ asset('bundles/site/images/3.jpg') }}" alt="" class="img-tinker"/>
            <h3>Changer sa plomberie</h3>
        </div>
    </div>

</div>

<div class="box-propose-friends">
    <h3 class="propose-title">Vous connaissez peut être : </h3>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/noAvatar.png') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/noAvatar.png') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="" class="img-propose-friends"/>
    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="" class="img-propose-friends"/>
    <div class="clear"></div>
</div>