<div class="content-accueil-header">
    <div class="content-accueil-header-top">
        <h3 class="wlc_back">Bonjour, Utilisateur</h3>
    </div>

    <div class="content-accueil-box">
        <div class="content-accueil-header-left">

            <div class="box-content">
                <h3 class="title-box">Actualité des chantiers</h3>

                <div class="box-actu-chantier">
                    <p><span class="btn btn-actu-chantier-first"> FEEDBACK </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="box-actu-chantier">
                    <p><span class="btn btn-actu-chantier-two"> FEEDBACK </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="box-actu-chantier">
                    <p><span class="btn btn-actu-chantier-three"> FEEDBACK </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <h3 class="title-box">Mes devis en cours</h3>
            <div class="dashboard-devis">
                <div class="dashboard-devis-header">
                    <div class="ddh ddh-box-date">Date</div>
                    <div class="ddh ddh-box-chantier">Chantier</div>
                    <div class="ddh ddh-box-pro">Pro</div>
                    <div class="ddh ddh-box-opt">Options</div>
                </div>

                <div class="dashboard-devis-ct">
                    <div class="ddc ddc-box-date">31/08</div>
                    <div class="ddc ddc-box-chantier">Remplassement du parquet...</div>
                    <div class="ddc ddc-box-pro">
                        <img class="pro-avatar" src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="Pro avatar"/>
                        SIMC</div>
                    <div class="ddc ddc-box-opt">
                        <img src="{{ asset('bundles/site/images/ico/16.png') }}" alt="" class="devis-ico"/>
                        <img src="{{ asset('bundles/site/images/ico/error.png') }}" alt="" class="devis-ico"/>
                    </div>
                </div>

                <div class="dashboard-devis-ct_loop">
                    <div class="ddc ddc-box-date">31/08</div>
                    <div class="ddc ddc-box-chantier">Remplassement du parquet...</div>
                    <div class="ddc ddc-box-pro">
                        <img class="pro-avatar" src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="Pro avatar"/>
                        Lapeyre</div>
                    <div class="ddc ddc-box-opt">
                        <img src="{{ asset('bundles/site/images/ico/16.png') }}" alt="" class="devis-ico"/>
                        <img src="{{ asset('bundles/site/images/ico/error.png') }}" alt="" class="devis-ico"/>
                    </div>
                </div>

                <div class="dashboard-devis-ct">
                    <div class="ddc ddc-box-date">31/08</div>
                    <div class="ddc ddc-box-chantier">Remplassement du parquet...</div>
                    <div class="ddc ddc-box-pro">
                        <img class="pro-avatar" src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Pro avatar"/>
                        MPSR</div>
                    <div class="ddc ddc-box-opt">
                        <img src="{{ asset('bundles/site/images/ico/16.png') }}" alt="" class="devis-ico"/>
                        <img src="{{ asset('bundles/site/images/ico/error.png') }}" alt="" class="devis-ico"/>
                    </div>
                </div>

                <div class="dashboard-devis-ct_loop">
                    <div class="ddc ddc-box-date">31/08</div>
                    <div class="ddc ddc-box-chantier">Remplassement du parquet...</div>
                    <div class="ddc ddc-box-pro">
                        <img class="pro-avatar" src="{{ asset('bundles/site/images/Avatars/noAvatar.png') }}" alt="Pro avatar"/>
                        Ent Leveque SRD</div>
                    <div class="ddc ddc-box-opt">
                        <img src="{{ asset('bundles/site/images/ico/16.png') }}" alt="" class="devis-ico"/>
                        <img src="{{ asset('bundles/site/images/ico/error.png') }}" alt="" class="devis-ico"/>
                    </div>
                </div>

            </div>

        </div>

        {#
            LA PARTIE DE DROITE
        #}
        <div class="content-accueil-header-right">
            <div class="blue">
                <span class="left"> </span>
                <span class="center">AOUT 2014</span>
                <span class="right"> </span>
            </div>
            <div class="box box-diary">
                <h3 class="diary-mess-owner">Gautier Christophe
                    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Avatar" class="ico ico-avatar"/>
                    <span class="type-part">Particulier</span>
                </h3>
                <p class="diary-mess-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aspernatur atque distinctio
                    eius enim error et eveniet fugit iste labore, libero nemo nisi perspiciatis, quo quod, soluta tempore velit!
                </p>
                <span class="diary-mess-date">Posté le 18 à 21h00</span>
            </div>

            <div class="box box-diary">
                <h3 class="diary-mess-owner">Gautier Christophe
                    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Avatar" class="ico ico-avatar"/>
                    <span class="type-pro">Pro</span>
                </h3>

                <img src="{{ asset('bundles/site/images/1.jpeg') }}" alt="" class="diary-pic"/>
                <p class="diary-mess-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aspernatur atque distinctio
                    eius enim error et eveniet fugit iste labore, libero nemo nisi perspiciatis, quo quod, soluta tempore velit!
                </p>
                <span class="diary-mess-date">Posté le 08 à 18h20</span>
            </div>

            <div class="box box-diary">
                <h3 class="diary-mess-owner">Gautier Christophe
                    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Avatar" class="ico ico-avatar"/>
                    <span class="type-part">Particulier</span>
                </h3>
                <p class="diary-mess-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aspernatur atque distinctio
                    eius enim error et eveniet fugit iste labore, libero nemo nisi perspiciatis, quo quod, soluta tempore velit!
                    <br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nemo quaerat sed similique totam, veritatis.
                    Ad cupiditate iure magni, minus omnis quas quasi qui, repellat sapiente similique tempora temporibus voluptatibus.
                </p>
                <span class="diary-mess-date">Posté le 10 à 21h00</span>

            </div>

            <div class="box box-diary">
                <h3 class="diary-mess-owner">Gautier Christophe
                    <img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Avatar" class="ico ico-avatar"/>
                    <span class="type-part">Particulier</span>
                </h3>
                <img src="{{ asset('bundles/site/images/2.jpg') }}" alt="" class="diary-pic"/>
                <p class="diary-mess-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aspernatur atque distinctio
                    eius enim error et eveniet fugit iste labore, libero nemo nisi perspiciatis, quo quod, soluta tempore velit!
                </p>
                <span class="diary-mess-date">Posté le 30 à 4h20</span>
            </div>
        </div>
    </div>
</div>