<div class="box">

    <div class="boxhouse">
        <div class="boxhouse-img">
            <img src="{{ asset('bundles/site/images/go-home-5.png') }}" class="myhome" alt=""/>

            <div class="box-home-btn">
                <input class="button" type="button" value="Ajouter à mes favoris"/>
            </div>

        </div>

        <div class="boxhouse-ctt">
            <h3 class="title">Ma maison </h3>

            <div class="home-ctt">
                <div class="house-list-qu">Type :</div>
                <div class="house-list-ans"> 4 pieces</div>
            </div>

            <div class="home-ctt">
                <div class="house-list-qu">Année</div>
                <div class="house-list-ans">2014</div>
            </div>

            <div class="home-ctt">
                <div class="house-list-qu">Metrage:</div>
                <div class="house-list-ans">72m2</div>
            </div>

            <div class="home-ctt">
                <div class="house-list-qu">Ville</div>
                <div class="house-list-ans">Vinon sur verdon</div>
            </div>

            <div class="home-ctt">
                <div class="house-list-qu">Statut:</div>
                <div class="house-list-ans">A vendre</div>
            </div>

            <div class="home-ctt">
                <div class="house-list-qu">Tarif:</div>
                <div class="house-list-ans">400 000€</div>
            </div>

        </div>

        <div class="class-energie">
            <ul class="energie-ul">
                <li class="energie energie-list-titre">Logement économique</li>
                <li class="energie"><p class="listing listing-energie-list1">< 50 <span class="letter">A</span></p></li>
                <li class="energie"><p class="listing listing-energie-list2"> 51 à 90 <span class="letter">B</span></p></li>
                <li class="energie"><p class="listing listing-energie-list3"> 91 à 150 <span class="letter">C</span></p></li>
                <li class="energie"><p class="listing listing-energie-list4"> 151 à 230 <span class="letter">D</span></p><span class="mine"><-------- D</span></li>
                <li class="energie"><p class="listing listing-energie-list5"> 231 à 330 <span class="letter">E</span></p></li>
                <li class="energie"><p class="listing listing-energie-list6"> 331 à 450 <span class="letter">F</span></p></li>
                <li class="energie"><p class="listing listing-energie-list7">> 450 <span class="letter">G</span></p></li>
                <li class="energie energie-list-titre">Logement énergivore</li>
            </ul>
        </div>

    </div>

    <div class="boxhouse-gallery">

        <h2 class="box-title">La gallerie</h2>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
                <img class="gallery" src="{{ asset('bundles/site/images/house/1.jpg') }}" alt="House"/>
            <div class="gallery-footer">Je ne sais pas trop</div>
        </div>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
            <img class="gallery" src="{{ asset('bundles/site/images/house/2.jpg') }}" alt="House"/>
            <div class="gallery-footer">Plancher à refaire</div>
        </div>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
            <img class="gallery" src="{{ asset('bundles/site/images/house/3.jpg') }}" alt="House"/>
            <div class="gallery-footer">Terminer</div>
        </div>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
            <img class="gallery" src="{{ asset('bundles/site/images/house/4.jpg') }}" alt="House"/>
            <div class="gallery-footer">Travaux pour 2015</div>
        </div>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
            <img class="gallery" src="{{ asset('bundles/site/images/house/1.jpg') }}" alt="House"/>
            <div class="gallery-footer">En travaux</div>
        </div>

        <div class="boxhouse-gallery-img">
            <div class="gallery-header">La chambre</div>
            <img class="gallery" src="{{ asset('bundles/site/images/house/2.jpg') }}" alt="House"/>
            <div class="gallery-footer">Je ne sais pas trop</div>
        </div>
    <div class="clear"></div>
    </div>

</div>